*,
*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-red: hsl(0, 100%, 74%) ;
    --clr-green: hsl(154, 59%, 51%);
    --clr-blue: hsl(248, 32%, 49%);
    --clr-dark-blue: hsl(249, 10%, 26%) ;
    --clr-gray-blue:hsl(246, 25%, 77%);

    --fs-default: 16px;
    --fs-medium: 28px;
    --fs-large: 32px;
    --fs-xlarge: 48px;

    @media screen and (min-width: 1024px) {
    
        --fs-medium: 28px;
        --fs-large: 32px;
        --fs-xlarge: 64px;
    }

}

body {
    font-size: var(--fs-default);
    font-family: 'Poppins', sans-serif;
    padding-top: 3rem; /* 1rem= 16px */
    padding-bottom: 3rem;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 1400px;
    background-color: var(--clr-red);
    height: 800px;
    padding: 4rem;
    justify-content: space-around;
    display: flex; /* section right, and section left would be the two items here */
    gap: 1.5rem;
    align-items: center;
    background-image: url("../images/bg-intro-desktop.png");
    box-shadow: 0 5px 50px grey;
    
}

/* LEFT SIDE */
.left {
    color: white;
    padding-left: 8.5rem;
    flex: 0 0 45%;
}


.title1{
    font-size: var(--fs-large);
    margin-bottom: 20px;
}

.desc1{
    font-size: 14px;  
    line-height:1.8;
 }



 /* RIGHT SIDE */
.right {
    flex: 0 0 40%;
    height: 600px;
}
.heading {
    max-width: 100%;
    background-color: var(--clr-blue);
    border-radius: 8px;
    padding: 1rem;
    color: white;
    font-size: var(--fs-default);
    font-weight: 400;
    text-align: center;
    box-shadow: 5px 2px 17px rgb(79, 76, 76);
    margin-bottom: 25px;
    display: block;
}

.hook {
    font-weight: 700;
    flex-direction: inline-block;
}

.form-group {
    display:flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 5px 2px 17px rgb(79, 76, 76); ;

}

.input {
    flex: 1;
    display: block;
    width: 100%;
    padding: 0.6rem 1rem;
    position: relative;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

