@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --clr-red: hsl(0, 100%, 74%) ;
    --clr-green: hsl(154, 59%, 51%);
    --clr-blue: hsl(248, 32%, 49%);
    --clr-dark-blue: hsl(249, 10%, 26%) ;
    --clr-gray-blue:hsl(246, 25%, 77%);

    --fs-default: 16px;
    --fs-medium: 28px;
    --fs-large: 32px;
    --fs-xlarge: 48px;

}

html {
    font-size: var(--fs-default);
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(/images/bg-intro-mobile.png);
	background-color: var(--clr-red);
	padding: 100px 0;

}
.wrapper {
 
    display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
	padding: 0 30px;
	max-width: 1300px;
	margin: 0 auto;
      
}

/* LEFT SIDE */
.left {
    flex: 1;
	margin-bottom: 50px;
}


.left h1 {
	color: white;
	font-size: 2.5rem;
	line-height: 3rem;
	margin-bottom: 2rem;
}

.left p {
    color: white;
	font-size: 1.3rem;
	line-height: 1.9rem;
	/* max-width: 500px; */
 }



 /* RIGHT SIDE */
.right {
    flex: 1;
}
.right .card {
    background-color: var(--clr-blue);
	color: white;
	padding: 15px 90px;
	/* border-bottom: 5px solid hsla(249, 10%, 26%, 0.466); */
	border-radius: 15px;
	box-shadow: 0 7px 15px var(--clr-dark-blue);
	margin-bottom: 30px;
}

.right .card p {
    font-size: 1.3rem;
	line-height: 2.2rem;
}

.right .card p span {
    font-weight: 700;
}

.right .form-container {
    background-color: white;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0 8px 20px var(--clr-dark-blue);

}

.field {
    position: relative;
    margin-bottom: 25px;
}

#in1 {
    margin-top: 20px;
}

#in4 {
    margin-bottom: 20px;
}

.right input, 
.right button[type = submit] {
    width: 100%;
	height: 60px;
	margin-bottom: 5px;
	border-radius: 10px;
	border: 1.3px solid var(--clr-gray-blue);
	padding-left: 20px;
	outline: none;
	color: var(--clr-dark-blue);
	font-family: 'Poppins', sans-serif;
	font-size: 1.1rem;
	font-weight: 600;

}
.right input:focus {
    border: 1.5px solid var(--clr-dark-blue);
}

.rigth input::placeholder {
    color: var(--clr-dark-blue);
	font-family: 'Poppins', sans-serif;
	font-size: 1.1rem;
	font-weight: 600;
   
}

.right button[type = submit] {
    cursor: pointer;
	background-color: var(--clr-green);
	box-shadow: 0px 4px hsl(154, 56%, 44%);
	color: white;
	font-weight: 500;
	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 0;
	border: none;
}

 .right button[type = submit]:hover {
    background-color: hsl(154, 73%, 65%);
}


.right .message {
    margin-top: 1rem;
    font-size: 12px;
    color: var(--clr-gray-blue);
    padding-bottom: 2.5rem;

}
.right .message span {
    color: var(--clr-red);
    font-weight: 700;
    
}

.error-text {

    text-align: right;
    align-items: right;
    bottom: 0;
    right: 0;
	font-size: .8rem;
	font-style: italic;
	color: var(--clr-red);
	font-weight: 500;

}

.error-icon {

	position: absolute;
	top: 28%;
	right: 20px;
	
}

.error-text .error-icon {
    display: block;
}

.attribution { 
    padding-top: 2rem;
    font-size: 12px; 
    text-align: center; 
}
.attribution a { 
    color: blue; 
}


 /* active state properties */

 .error-icon,
.error-text {
    display: none;
}

.field.error .error-text,
.field.error .error-icon {
    display: block;
}

.field.error input {
    border: 2px solid var(--clr-red);
}

.field.error input::placeholder {
    color: var(--clr-red);
}

/* screen size bigger than an ipad */

@media only screen and (min-width: 1000px) {
    .container {
        background-image: url(/images/bg-intro-desktop.png);
    }
    .wrapper {
        flex-direction: row;
    }
    .left {
        text-align: left;
        padding-right: 50px;
    }

    .left h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .left p {
        font-size: 1.1rem; 
    }

    .right {
        max-width: 500px;

    }
    .right .card p {
        font-size: 1.1rem;

    }
    .right .card {
        padding: 20px;

    }

    .right .form-container {
        padding: 40px;

    }

    .right input::placeholder,
    .right input {
        font-size: 1.05rem;
        height: 60px;

    }

    .right .message {
        margin-top: 20px;
        font-size: .7rem;
    }
}